# Data Preprocessing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from tqdm import tqdm

In [3]:
df=pd.read_csv('../Dataset/Flight_Timings.csv')

In [4]:
df.head()

,From,To,Departure Time,Arrival Time
0,Rwanda,Switzerland,02:51 AM,8:13 AM
1,United Kingdom,United States Minor Outlying Islands,09:58 AM,3:39 PM
2,United Arab Emirates,Bangladesh,06:22 PM,11:55 PM
3,Mexico,Australia,09:06 AM,12:02 PM
4,Hungary,Angola,08:55 PM,12:20 AM

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   From            249 non-null    object
 1   To              249 non-null    object
 2   Departure Time  249 non-null    object
 3   Arrival Time    249 non-null    object
dtypes: object(4)
memory usage: 7.9+ KB

In [6]:
text = []
for r in df.iterrows():
    row = r[1]
    active_sentence = "The Bus starts from " + row['From'] + " at " + row['Departure Time'] + " and goes to " + row['To'] + " reaching at " + row['Arrival Time']
    passive_sentence = "The bus arrives at " + row['To'] + " by " + row['Arrival Time'] + " after departing from " + row['From'] + " at " + row["Arrival Time"]
    text.append(active_sentence)
    text.append(passive_sentence)

In [7]:
print("Active Voice:",text[0])
print("Passive voice:", text[1])

Active Voice: The Bus starts from Rwanda at 02:51 AM and goes to Switzerland reaching at 8:13 AM
Passive voice: The bus arrives at Switzerland by 8:13 AM after departing from Rwanda at 8:13 AM

In [8]:
len(text[0])

82

In [9]:
len(text)

498

In [10]:
text.remove("The Bus starts from French Guiana at 02:04 PM and goes to Yemen reaching at 4:15 PM")

In [11]:
len(text)

497

In [12]:
text.remove("The bus arrives at Yemen by 4:15 PM after departing from French Guiana at 4:15 PM")
len(text)

496

In [13]:
text.index("The Bus starts from Palau at 04:15 PM and goes to Sweden reaching at 4:45 PM")

450

In [14]:
text.remove("The Bus starts from Palau at 04:15 PM and goes to Sweden reaching at 4:45 PM")
text.remove("The bus arrives at Sweden by 4:45 PM after departing from Palau at 4:45 PM")
len(text)

494

### Paraphrasing the data

In [15]:
import torch
from transformers import PegasusForConditionalGeneration, PegasusTokenizer

In [16]:
model_name = 'tuner007/pegasus_paraphrase'
torch_device = 'cuda' if torch.cuda.is_available() else 'cpu'

In [17]:
torch_device

'cuda'

In [18]:
tokenizer = PegasusTokenizer.from_pretrained(model_name)
model = PegasusForConditionalGeneration.from_pretrained(model_name).to(torch_device)

Old Apporach

In [13]:
def get_response(input_text, num_return_sequences):
    input_len = len(input_text)
    batch = tokenizer.prepare_seq2seq_batch([input_text],truncation=True,padding='longest',max_length=100, return_tensors="pt").to(torch_device)
    translated = model.generate(**batch, max_length=100, num_beams=10, num_return_sequences=num_return_sequences, temperature=1)
    tgt_text = tokenizer.batch_decode(translated, skip_special_tokens=True)
    return tgt_text

New approach

In [19]:
def get_response(input_text, num_return_sequences):
    input_len = len(input_text)
    batch = tokenizer([input_text], truncation=True, padding='longest', max_length=100, return_tensors="pt").to(torch_device)
    translated = model.generate(**batch, max_length=100, num_beams=10, num_return_sequences=num_return_sequences, temperature=1)
    tgt_text = tokenizer.batch_decode(translated, skip_special_tokens=True)
    
    return tgt_text

In [14]:
batch = tokenizer([text[0]], truncation=True, padding='longest', max_length=100, return_tensors="pt").to(torch_device)

In [15]:
batch

{'input_ids': tensor([[  139,  7588,  2171,   135, 23321,   134, 73057,   740,  3887,   111,
          1168,   112,  7317,  4379,   134,   110, 88831,  3887,     1]],
       device='cuda:0'), 'attention_mask': tensor([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]],
       device='cuda:0')}

In [16]:
translated = model.generate(**batch, max_length=100, num_beams=5, num_return_sequences=3)
translated

tensor([[    0,   139,  2238,  1168,   135, 23321,   112,  7317,   134,   110,
         88831,  3887,   107,     1,     0,     0,     0,     0,     0,     0],
        [    0,   139,  2238,  2163, 23321,   134, 73057,   740,  3887,   111,
          1168,   112,  7317,   134,   110, 88831,  3887,   107,     1,     0],
        [    0,   139,  2238,  2163,   135, 23321,   134, 73057,   740,  3887,
           111,  1168,   112,  7317,   134,   110, 88831,  3887,   107,     1]],
       device='cuda:0')

In [17]:
tokenizer.batch_decode(translated, skip_special_tokens=True)

['The bus goes from Rwanda to Switzerland at 8:13 AM.',
 'The bus leaves Rwanda at 02:51 AM and goes to Switzerland at 8:13 AM.',
 'The bus leaves from Rwanda at 02:51 AM and goes to Switzerland at 8:13 AM.']

In [20]:
text[0]

'The Bus starts from Rwanda at 02:51 AM and goes to Switzerland reaching at 8:13 AM'

In [21]:
get_response(text[0], 3)

['The bus goes from Rwanda to Switzerland at 8:13 AM.',
 'The bus leaves Rwanda at 02:51 AM and goes to Switzerland at 8:13 AM.',
 'The bus leaves from Rwanda at 02:51 AM and goes to Switzerland at 8:13 AM.']

In [18]:
len(text[0])

82

In [19]:
82 - 25

57

In [20]:
len('The bus goes from Rwanda to Switzerland at 8:13 AM.')

51

In [22]:
paraphrased_text = []
for sentence in tqdm(text[450:]):
    try:
        paraphrased_sentences = get_response(sentence, 3)
        for p_sent in paraphrased_sentences:
            if(len(p_sent) > len(sentence)-25):
                paraphrased_text.append(p_sent)
    except:
        print(sentence)
        continue

100%|██████████████████████████████████████████████████████████████████████████████████| 44/44 [00:29<00:00,  1.50it/s]

In [23]:
len(paraphrased_text)

1068

In [29]:
final_text = []
final_text += text
final_text += paraphrased_text

In [31]:
len(final_text)

1564

In [38]:
final_text.append("The Bus starts from French Guiana at 02:04 PM and goes to Yemen reaching at 4:15 PM")
final_text.append("The bus arrives at Yemen by 4:15 PM after departing from French Guiana at 4:15 PM")

In [39]:
len(final_text)

1566

In [40]:
paraphrased_df = pd.DataFrame({'text': final_text})

In [41]:
paraphrased_df.head()

                                                text
0  The Bus starts from Rwanda at 02:51 AM and goe...
1  The bus arrives at Switzerland by 8:13 AM afte...
2  The Bus starts from United Kingdom at 09:58 AM...
3  The bus arrives at United States Minor Outlyin...
4  The Bus starts from United Arab Emirates at 06...

In [42]:
paraphrased_df.to_csv("../Dataset/paraphrased_data.csv", index=False)

In [24]:
len(paraphrased_text)

100

In [32]:
final_text = []
final_text += text[450:]
final_text += paraphrased_text

In [33]:
len(final_text)

144

In [34]:
final_text.append("The Bus starts from Palau at 04:15 PM and goes to Sweden reaching at 4:45 PM")
final_text.append("The bus arrives at Sweden by 4:45 PM after departing from Palau at 4:45 PM")

In [35]:
final_text

['The Bus starts from Holy See (Vatican City State) at 01:30 PM and goes to Bouvet Island reaching at 4:46 PM',
 'The bus arrives at Bouvet Island by 4:46 PM after departing from Holy See (Vatican City State) at 4:46 PM',
 'The Bus starts from Bangladesh at 06:22 PM and goes to Afghanistan reaching at 8:01 PM',
 'The bus arrives at Afghanistan by 8:01 PM after departing from Bangladesh at 8:01 PM',
 'The Bus starts from Mozambique at 09:27 AM and goes to Bouvet Island reaching at 11:19 AM',
 'The bus arrives at Bouvet Island by 11:19 AM after departing from Mozambique at 11:19 AM',
 'The Bus starts from Jamaica at 11:36 PM and goes to New Caledonia reaching at 3:02 AM',
 'The bus arrives at New Caledonia by 3:02 AM after departing from Jamaica at 3:02 AM',
 'The Bus starts from Holy See (Vatican City State) at 08:13 AM and goes to Montserrat reaching at 12:07 PM',
 'The bus arrives at Montserrat by 12:07 PM after departing from Holy See (Vatican City State) at 12:07 PM',
 'The Bus starts from Bangladesh at 10:32 PM and goes to Switzerland reaching at 5:03 AM',
 'The bus arrives at Switzerland by 5:03 AM after departing from Bangladesh at 5:03 AM',
 'The Bus starts from Kazakhstan at 10:11 AM and goes to Err:502 reaching at 5:31 PM',
 'The bus arrives at Err:502 by 5:31 PM after departing from Kazakhstan at 5:31 PM',
 'The Bus starts from Chile at 12:35 PM and goes to Qatar reaching at 7:20 PM',
 'The bus arrives at Qatar by 7:20 PM after departing from Chile at 7:20 PM',
 'The Bus starts from Jamaica at 10:29 PM and goes to Bangladesh reaching at 2:59 AM',
 'The bus arrives at Bangladesh by 2:59 AM after departing from Jamaica at 2:59 AM',
 'The Bus starts from South Georgia and the South Sandwich Islands at 09:31 PM and goes to Guyana reaching at 12:02 AM',
 'The bus arrives at Guyana by 12:02 AM after departing from South Georgia and the South Sandwich Islands at 12:02 AM',
 'The Bus starts from Mozambique at 02:46 AM and goes to Canada reaching at 7:49 AM',
 'The bus arrives at Canada by 7:49 AM after departing from Mozambique at 7:49 AM',
 'The Bus starts from Malawi at 12:34 AM and goes to Liechtenstein reaching at 6:25 AM',
 'The bus arrives at Liechtenstein by 6:25 AM after departing from Malawi at 6:25 AM',
 'The Bus starts from Mozambique at 12:31 AM and goes to Indonesia reaching at 3:01 AM',
 'The bus arrives at Indonesia by 3:01 AM after departing from Mozambique at 3:01 AM',
 'The Bus starts from Mauritania at 01:48 AM and goes to Indonesia reaching at 5:06 AM',
 'The bus arrives at Indonesia by 5:06 AM after departing from Mauritania at 5:06 AM',
 'The Bus starts from Yemen at 09:20 AM and goes to Guyana reaching at 4:37 PM',
 'The bus arrives at Guyana by 4:37 PM after departing from Yemen at 4:37 PM',
 'The Bus starts from French Southern Territories at 06:11 AM and goes to Bulgaria reaching at 8:45 AM',
 'The bus arrives at Bulgaria by 8:45 AM after departing from French Southern Territories at 8:45 AM',
 'The Bus starts from Jamaica at 07:56 AM and goes to Peru reaching at 12:25 PM',
 'The bus arrives at Peru by 12:25 PM after departing from Jamaica at 12:25 PM',
 'The Bus starts from Qatar at 01:30 AM and goes to Bouvet Island reaching at 4:49 AM',
 'The bus arrives at Bouvet Island by 4:49 AM after departing from Qatar at 4:49 AM',
 'The Bus starts from Mozambique at 02:49 AM and goes to Guyana reaching at 3:24 AM',
 'The bus arrives at Guyana by 3:24 AM after departing from Mozambique at 3:24 AM',
 'The Bus starts from United Arab Emirates at 11:05 AM and goes to Liechtenstein reaching at 11:25 AM',
 'The bus arrives at Liechtenstein by 11:25 AM after departing from United Arab Emirates at 11:25 AM',
 'The Bus starts from Cuba at 10:17 AM and goes to Yemen reaching at 12:14 PM',
 'The bus arrives at Yemen by 12:14 PM after departing from Cuba at 12:14 PM',
 'The Bus starts from Hungary at 08:25 AM and goes to Guyana reaching at 10:50 AM',
 'The bus arrives at Guyana by 10:50 AM after departing from Hungary at 10:50 AM',
 'The bus leaves Bangladesh at 06:22 PM and arrives in Afghanistan at 8:01.',
 'The bus leaves Bangladesh at 06:22 PM and arrives in Afghanistan at 8:01 PM.',
 'After leaving Bangladesh at 8:01 PM, the bus arrives at Afghanistan.',
 'The bus leaves Bangladesh at 8:01 PM and arrives in Afghanistan at 8:01 PM.',
 'The bus leaves Bangladesh at 8:01 PM and arrives at Afghanistan at 8:01 PM.',
 'The bus leaves from Mozambique at 09:27 AM and arrives at Bouvet Island at 11:19 AM.',
 'The bus leaves from Mozambique at 09:27 AM and arrives at Bouvet Island at 11:20 AM.',
 'The bus leaves from Mozambique at 09:27 AM and goes to Bouvet Island at 11:19 AM.',
 'The bus leaves Jamaica at 11:36 PM and arrives in New Caledonia at 3:02 AM.',
 'The bus leaves Jamaica at 11:36 PM and goes to New Caledonia at 3:02 AM.',
 'The bus leaves from Jamaica at 11:36 PM and arrives in New Caledonia at 3:02 AM.',
 'The bus leaves Jamaica at 3:02 AM and arrives at New Caledonia at 3:02 AM.',
 'The bus leaves Jamaica at 3:02 AM and arrives at New Caledonia by 3:02 AM.',
 'The bus leaves Jamaica at 3:02 AM and arrives in New Caledonia at 3:02 AM.',
 'The bus leaves Bangladesh at 10:32 PM and arrives in Switzerland at 5:03 AM.',
 'The bus leaves Bangladesh at 10:32 PM and goes to Switzerland at 5:03 AM.',
 'The bus leaves Bangladesh at 10:32PM and arrives in Switzerland at 5:03AM.',
 'The bus leaves Bangladesh at 5:03 AM and arrives at Switzerland at 5:03 AM.',
 'The bus leaves Bangladesh at 5:03 AM and arrives in Switzerland at 5:03 AM.',
 'The bus leaves Bangladesh at 5:03 AM and arrives at Switzerland by 5:03 AM.',
 'The bus leaves the country at 10:11 AM and arrives at 5:31 PM.',
 'The bus leaves Kazakhstan at 10:11 AM and arrives at 5:31 PM.',
 'The bus leaves from Kazakhstan at 10:11 AM and arrives at 5:31 PM.',
 'The bus arrives at the airport at 5:31 PM after leaving the country.',
 'The bus leaves from Chile at 13:05 PM and arrives in Qatar at 7:21 PM.',
 'The bus leaves from Chile at 13:05PM and arrives in Qatar at 7:21PM.',
 'The bus leaves from Chile at 12:35PM and arrives in Qatar at 7:21PM.',
 'The bus leaves from Chile at 7:21 PM and arrives at Qatar at 7:21 PM.',
 'The bus leaves from chile at 7:21 PM and arrives at qatar at 7:21 PM.',
 'The bus leaves from Chile at 7:21 PM and arrives at Qatar at 8:20 PM.',
 'The bus leaves Jamaica at 10:29 PM and arrives in Bangladesh at 2:59 AM.',
 'The bus leaves Jamaica at 10:49 PM and arrives in Bangladesh at 2:59 AM.',
 'The bus leaves Jamaica at 10:29 PM and goes to Bangladesh at 2:59 AM.',
 'The bus arrives at Bangladesh at 2:59 AM after leaving Jamaica.',
 'The bus leaves Jamaica at 2:59 AM and arrives in Bangladesh at 2:59 AM.',
 'The bus leaves Jamaica at 2:59 AM and arrives at Bangladesh at 2:59 AM.',
 'The bus leaves South Georgia and the South Sandwich Islands at 09:31 PM and arrives in Guyana at 12:02 AM.',
 'The bus leaves South Georgia and the South Sandwich Islands at 09:31 PM and arrives in Georgetown at 12:02 AM.',
 'The bus leaves from South Georgia and the South Sandwich Islands at 09:31 PM and arrives in Guyana at 12:02 AM.',
 'The bus leaves South Georgia and the South Sandwich Islands at 12:14 AM to arrive at Guyana.',
 'The bus leaves South Georgia and the South Sandwich Islands at 12:14 AM and arrives at Guyana at 12:14 AM.',
 'After leaving from South Georgia and the South Sandwich Islands, the bus arrives at Guyana by 12:02 AM.',
 'The bus arrives at Canada by 7:44 AM after leaving from Mozambique.',
 'The bus arrives at Canada at 7:44 AM after leaving from Mozambique.',
 'The bus arrives at Canada at 7:49 AM after leaving from Mozambique.',
 'The bus leaves from Malawi at 12:34 AM and goes to Liechtenstein at 6:25 AM.',
 'The bus leaves from Malawi at 12:34 AM and arrives in Liechtenstein at 6:25 AM.',
 'The bus leaves Malawi at 12:34 AM and goes to Liechtenstein at 6:25 AM.',
 'After leaving from Malawi, the bus arrives at Liechtenstein by 6:25 AM.',
 'The bus leaves from Malawi at 6:25 AM and arrives at Liechtenstein at 6:25 AM.',
 'The bus leaves from Malawi at 6:25 AM and arrives at Liechtenstein by 6:25 AM.',
 'The bus leaves from Mozambique at 12:31 AM and goes to Indonesia at 3:01 AM.',
 'The bus leaves from Mozambique at 12:31 AM and arrives in Indonesia at 3:01 AM.',
 'The bus arrives at Indonesia at 3:01 AM after leaving from Mozambique.',
 'The bus arrives at Indonesia at 3:01 AM after leaving at 3:01 AM.',
 'The bus leaves from Mauritania and arrives in Indonesia at 5:06 AM.',
 'The bus leaves from Mauritania at 5:06 AM and arrives at Indonesia at 5:06 AM.',
 'After leaving from Mauritania, the bus arrives at Indonesia by 5:06 AM.',
 'The bus leaves Yemen at 09:20 AM and arrives in Georgetown at 4:30 PM.',
 'The bus leaves Yemen at 09:20 AM and arrives in Georgetown at 4:47 PM.',
 'The bus leaves Yemen at 09:20 AM and arrives in Georgetown at 4:57 PM.',
 "The bus leaves Yemen at 4:47 PM and arrives at Guyana at 888-492-0's by 4:47 PM.",
 "The bus leaves Yemen at 4:47 PM and arrives at Guyana at 888-492-0's by 4:30 PM.",
 'The bus leaves Yemen at 4:47 PM and arrives atGuyana at 4:57 PM.',
 'The bus leaves French Southern Territories at 06:11 AM and arrives in Bulgaria at 8:45 AM.',
 'The bus leaves French Southern Territories at 06:11 AM and goes to Bulgaria at 8:45 AM.',
 'The bus leaves French Southern Territories at 06:11 AM and goes to Bulgaria at 9:00 AM.',
 'The bus leaves French Southern Territories at 9:00 AM and arrives at Bulgaria by 8:45 AM.',
 'The bus leaves French Southern Territories at 8:45 AM and arrives at Bulgaria by 8:45 AM.',
 'The bus leaves French Southern Territories at 9:00 AM and arrives in Bulgaria by 8:45 AM.',
 'The bus leaves Jamaica at 07:56 AM and arrives inPeru at 12:25 PM.',
 'The bus leaves Jamaica at 07:56 AM and arrives in Peru at 12:25 PM.',
 'The bus leaves Jamaica at 07:56 AM and goes to Peru at 12:25 PM.',
 'The bus leaves Jamaica at 12:25 PM and arrives at Peru at 12:25 PM.',
 'The bus leaves Jamaica at 12:25 PM and arrives inPeru at 12:25 PM.',
 'The bus leaves Jamaica at 12:25 PM and arrives in Peru at 12:25 PM.',
 "The bus leaves from Qatar at 1 o'clock and goes to Bouvet Island at 4 o'clock.",
 "The bus leaves fromQatar at 1 o'clock and goes to Bouvet Island at 4 o'clock.",
 "The bus leaves from Qatar at 1 o'clock and arrives on Bouvet Island at 4 o'clock.",
 'The bus arrives at Bouvet Island at 4:49 AM after leaving from Qatar.',
 'The bus leaves from Mozambique at 02:49 AM and arrives in Guyana at 3:20 AM.',
 'The bus leaves from Mozambique at 02:49 AM and goes to Guyana at 3:20 AM.',
 'The bus leaves from Mozambique at 02:49 AM and arrives in Georgetown at 3:20 AM.',
 'The bus leaves the United Arab Emirates at 11:05 AM and arrives in Liechtenstein at 11:25 AM.',
 'The bus leaves the United Arab Emirates at 11:05 AM and goes to Liechtenstein at 11:25 AM.',
 'The bus leaves the United Arab Emirates at 11:05 AM and arrives in Liechtenstein at 11:25AM.',
 'The bus arrives at Liechtenstein at 11:25 AM after leaving the United Arab Emirates.',
 'The bus arrives at Liechtenstein by 11:25 AM after leaving the United Arab Emirates.',
 'The bus leaves the United Arab Emirates at 11:25 AM and arrives at Liechtenstein by 11:25 AM.',
 'The bus leaves Cuba at 10:17 AM and arrives in Yemen at 12:14 PM.',
 'The bus leaves Cuba at 10:17 AM and goes to Yemen at 12:14 PM.',
 'The bus leaves Cuba at 12:14 PM and arrives at Yemen at 12:14 PM.',
 'The bus leaves Cuba at 12:14PM and arrives at Yemen at 12:14PM.',
 'The bus leaves Cuba at 12:14 PM and arrives in Yemen at 12:14 PM.',
 'The bus leaves Hungary at 08:25 AM and arrives in Guyana at 10:50 AM.',
 'The bus leaves Hungary at 08:25 AM and arrives in Georgetown at 10:50 AM.',
 'The bus leaves Hungary at 08:25 AM and arrives inGuyana at 10:50 AM.',
 'The bus leaves Hungary at 10:50 AM and arrives at Guyana by 10:50 AM.',
 'The bus leaves Hungary at 10:50 AM and arrives at Guyana at 10:50 AM.',
 'The bus leaves Hungary at 10:50 AM and arrives atGuyana by 10:50 AM.',
 'The Bus starts from Palau at 04:15 PM and goes to Sweden reaching at 4:45 PM',
 'The bus arrives at Sweden by 4:45 PM after departing from Palau at 4:45 PM']

In [36]:
len(final_text)

146

In [37]:
paraphrased_df = pd.DataFrame({'text': final_text})

In [38]:
paraphrased_df

                                                  text
0    The Bus starts from Holy See (Vatican City Sta...
1    The bus arrives at Bouvet Island by 4:46 PM af...
2    The Bus starts from Bangladesh at 06:22 PM and...
3    The bus arrives at Afghanistan by 8:01 PM afte...
4    The Bus starts from Mozambique at 09:27 AM and...
..                                                 ...
141  The bus leaves Hungary at 10:50 AM and arrives...
142  The bus leaves Hungary at 10:50 AM and arrives...
143  The bus leaves Hungary at 10:50 AM and arrives...
144  The Bus starts from Palau at 04:15 PM and goes...
145  The bus arrives at Sweden by 4:45 PM after dep...

[146 rows x 1 columns]

In [39]:
df = pd.read_csv('../Dataset/paraphrased_data.csv')

In [40]:
df

                                                   text
0     The Bus starts from Rwanda at 02:51 AM and goe...
1     The bus arrives at Switzerland by 8:13 AM afte...
2     The Bus starts from United Kingdom at 09:58 AM...
3     The bus arrives at United States Minor Outlyin...
4     The Bus starts from United Arab Emirates at 06...
...                                                 ...
1561  The bus leaves Ethiopia at 9:54 AM and arrives...
1562  The bus leaves Ethiopia at 9:54 AM and arrives...
1563  The bus arrives at Switzerland at 9:54 AM afte...
1564  The Bus starts from French Guiana at 02:04 PM ...
1565  The bus arrives at Yemen by 4:15 PM after depa...

[1566 rows x 1 columns]

In [42]:
final_df = pd.concat([df, paraphrased_df])

In [44]:
final_df.to_csv('../Dataset/final_paraphrased_df.csv', index=False)

In [45]:
final_df

                                                  text
0    The Bus starts from Rwanda at 02:51 AM and goe...
1    The bus arrives at Switzerland by 8:13 AM afte...
2    The Bus starts from United Kingdom at 09:58 AM...
3    The bus arrives at United States Minor Outlyin...
4    The Bus starts from United Arab Emirates at 06...
..                                                 ...
141  The bus leaves Hungary at 10:50 AM and arrives...
142  The bus leaves Hungary at 10:50 AM and arrives...
143  The bus leaves Hungary at 10:50 AM and arrives...
144  The Bus starts from Palau at 04:15 PM and goes...
145  The bus arrives at Sweden by 4:45 PM after dep...

[1712 rows x 1 columns]