In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('../Dataset/Flight_Timings.csv')

In [4]:
df

,From,To,Departure Time,Arrival Time
0,Rwanda,Switzerland,02:51 AM,8:13 AM
1,United Kingdom,United States Minor Outlying Islands,09:58 AM,3:39 PM
2,United Arab Emirates,Bangladesh,06:22 PM,11:55 PM
3,Mexico,Australia,09:06 AM,12:02 PM
4,Hungary,Angola,08:55 PM,12:20 AM
...,...,...,...,...
244,Qatar,Bouvet Island,01:30 AM,4:49 AM
245,Mozambique,Guyana,02:49 AM,3:24 AM
246,United Arab Emirates,Liechtenstein,11:05 AM,11:25 AM
247,Cuba,Yemen,10:17 AM,12:14 PM
248,Hungary,Guyana,08:25 AM,10:50 AM

In [5]:
df['text']=df['From']+' '+df['To']+' '+df['Departure Time']+' '+df['Arrival Time']

In [7]:
df.isnull().sum()

From              0
To                0
Departure Time    0
Arrival Time      0
text              0
dtype: int64