In [1]:
import pandas as pd
import numpy as np

In [9]:
# load data, since column names were not appropriate

def load_data(path):
    df = pd.read_csv(path)
    df.columns = ['label', 'query']
    return df

df = load_data("../Dataset/Testing_data.csv")
df.head(10)

                 label                                              query
0          atis_flight   what flights are available from pittsburgh to...
1     atis_flight_time   what is the arrival time in san francisco for...
2         atis_airfare            cheapest airfare from tacoma to orlando
3         atis_airfare   round trip fares from pittsburgh to philadelp...
4          atis_flight   i need a flight tomorrow from columbus to min...
5        atis_aircraft   what kind of aircraft is used on a flight fro...
6          atis_flight   show me the flights from pittsburgh to los an...
7          atis_flight              all flights from boston to washington
8  atis_ground_service   what kind of ground transportation is availab...
9          atis_flight   show me the flights from dallas to san francisco

In [10]:
if(df['label'] != ("atis_flight" or "atis_time")):
    df.drop(axis=0, inplace=True)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [6]:
df.isnull().sum()

atis_flight                                                                         0
 i want to fly from boston at 838 am and arrive in denver at 1110 in the morning    0
dtype: int64

In [ ]:
df