In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("../Dataset/isl_wise_train_detail_03082015_v1.csv")

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69006 entries, 0 to 69005
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Train No.                 69006 non-null  object
 1   train Name                69006 non-null  object
 2   islno                     69006 non-null  int64
 3   station Code              69006 non-null  object
 4   Station Name              69006 non-null  object
 5   Arrival time              69006 non-null  object
 6   Departure time            69006 non-null  object
 7   Distance                  69006 non-null  int64
 8   Source Station Code       69006 non-null  object
 9   source Station Name       69006 non-null  object
 10  Destination station Code  69006 non-null  object
 11  Destination Station Name  69006 non-null  object
dtypes: int64(2), object(10)
memory usage: 6.3+ MB

In [14]:
df

,Train No.,train Name,islno,station Code,Station Name,Arrival time,Departure time,Distance,Source Station Code,source Station Name,Destination station Code,Destination Station Name
0,'00851',BNC SUVIDHA SPL,1,BBS,BHUBANESWAR,'00:00:00','22:50:00',0,BBS,BHUBANESWAR,BNC,BANGALORE CANT
1,'00851',BNC SUVIDHA SPL,2,BAM,BRAHMAPUR,'01:10:00','01:12:00',166,BBS,BHUBANESWAR,BNC,BANGALORE CANT
2,'00851',BNC SUVIDHA SPL,3,VSKP,VISAKHAPATNAM,'05:10:00','05:30:00',443,BBS,BHUBANESWAR,BNC,BANGALORE CANT
3,'00851',BNC SUVIDHA SPL,4,BZA,VIJAYAWADA JN,'11:10:00','11:20:00',793,BBS,BHUBANESWAR,BNC,BANGALORE CANT
4,'00851',BNC SUVIDHA SPL,5,RU,RENIGUNTA JN,'16:42:00','16:52:00',1169,BBS,BHUBANESWAR,BNC,BANGALORE CANT
...,...,...,...,...,...,...,...,...,...,...,...,...
69001,'84369',TRIBENI EXPRESS,35,LKO,LUCKNOW NR,'08:35:00','08:45:00',627,BRWD,BARWADIH JN,BE,BAREILLY
69002,'84369',TRIBENI EXPRESS,36,SAN,SANDILA,'09:34:00','09:35:00',675,BRWD,BARWADIH JN,BE,BAREILLY
69003,'84369',TRIBENI EXPRESS,37,HRI,HARDOI,'10:19:00','10:20:00',729,BRWD,BARWADIH JN,BE,BAREILLY
69004,'84369',TRIBENI EXPRESS,38,SPN,SHAHJEHANPUR,'11:25:00','11:30:00',791,BRWD,BARWADIH JN,BE,BAREILLY
69005,'84369',TRIBENI EXPRESS,39,BE,BAREILLY,'12:35:00','00:00:00',862,BRWD,BARWADIH JN,BE,BAREILLY

In [17]:
df.drop(columns=["Train No.","train Name","islno","station Code","Distance","Source Station Code","Destination station Code"], inplace = True)

In [19]:
df.isnull().sum()

Station Name                0
Arrival time                0
Departure time              0
source Station Name         0
Destination Station Name    0
dtype: int64

In [20]:
df

,Station Name,Arrival time,Departure time,source Station Name,Destination Station Name
0,BHUBANESWAR,'00:00:00','22:50:00',BHUBANESWAR,BANGALORE CANT
1,BRAHMAPUR,'01:10:00','01:12:00',BHUBANESWAR,BANGALORE CANT
2,VISAKHAPATNAM,'05:10:00','05:30:00',BHUBANESWAR,BANGALORE CANT
3,VIJAYAWADA JN,'11:10:00','11:20:00',BHUBANESWAR,BANGALORE CANT
4,RENIGUNTA JN,'16:42:00','16:52:00',BHUBANESWAR,BANGALORE CANT
...,...,...,...,...,...
69001,LUCKNOW NR,'08:35:00','08:45:00',BARWADIH JN,BAREILLY
69002,SANDILA,'09:34:00','09:35:00',BARWADIH JN,BAREILLY
69003,HARDOI,'10:19:00','10:20:00',BARWADIH JN,BAREILLY
69004,SHAHJEHANPUR,'11:25:00','11:30:00',BARWADIH JN,BAREILLY
69005,BAREILLY,'12:35:00','00:00:00',BARWADIH JN,BAREILLY

In [28]:
df.to_csv('../Dataset/train.csv')